<template>
	<div id="wrap_admin">
		<Header></Header>
		<section>
			<div id="container_admin" class="container_admin">
				<div id="content_admin" class="content_admin">
					<ContentHeader
						:title="headerTitle"
						:dec="headerDec"
						:depth2="indiDepth2"
						:depth3="indiDepth3"
					></ContentHeader>
					<component :is="currentComponent"></component>
					<!-- <router-view></router-view> -->
				</div>
				<!-- //content -->
			</div>
		</section>
	</div>
</template>

<script>
import Header from '@/components/common/Header';
import ContentHeader from '@/components/common/ContentHeader';
import BrandList from '@/components/business/BrandList';
import categoryList from '@/components/business/CategoryList';
import SnsList from '@/components/business/SnsList';
import NewsList from '@/components/news/NewsList';
import RecruitList from '@/components/recruit/RecruitList';

export default {
	components: {
		Header,
		ContentHeader,
		BrandList,
		categoryList,
		SnsList,
		NewsList,
		RecruitList,
	},
	computed: {
		currentPage() {
			const page = this.$route.params.page;
			return page;
		},
	},
	created() {
		this.fetchData();
	},
	watch: {
		$route: 'fetchData',
	},
	data() {
		return {
			headerTitle: '',
			headerDec: '',
			indiDepth2: '',
			indiDepth3: '',
			page: '',
			currentComponent: 'BrandList',
		};
	},
	methods: {
		fetchData() {
			console.log('fetchData');
			const page = this.$route.params.page;
			console.log(page);
			if (page == 'brand') {
				this.currentComponent = 'BrandList';
				this.headerTitle = '브랜드 관리';
				this.headerDec = '브랜드를 등록, 수정, 삭제하실 수 있습니다.';
				this.indiDepth2 = 'BUSINESS 관리';
				this.indiDepth3 = '브랜드 관리';
			} else if (page == 'category') {
				this.currentComponent = 'categoryList';
				this.headerTitle = '분야 관리';
				this.headerDec = '브랜드의 분야를 관리하실 수 있습니다.';
				this.indiDepth2 = 'BUSINESS 관리';
				this.indiDepth3 = '분야 관리';
			} else if (page == 'sns') {
				this.currentComponent = 'SnsList';
				this.headerTitle = 'SNS 관리';
				this.headerDec = '사용할 SNS를 등록, 수정, 삭제하실 수 있습니다.';
				this.indiDepth2 = 'BUSINESS 관리';
				this.indiDepth3 = 'SNS 관리';
			} else if (page == 'news') {
				this.currentComponent = 'NewsList';
				this.headerTitle = 'NEWS 관리';
				this.headerDec = '뉴스를 등록, 수정, 삭제하실 수 있습니다.';
				this.indiDepth2 = 'PR';
				this.indiDepth3 = 'NEWS 관리';
			} else if (page == 'recruit') {
				this.currentComponent = 'RecruitList';
				this.headerTitle = '채용공고 관리';
				this.headerDec =
					'인재채용 공고를 위한 링크를 등록, 수정, 삭제하실 수 있습니다.';
				this.indiDepth2 = 'RECRUIT';
				this.indiDepth3 = '채용공고 관리';
			}
		},
	},
};
</script>

<style></style>
