<template>
	<div id="container_admin" class="container_admin">
		<section>
			<!-- 로그인 -->
			<h1 class="loginLogo">
				<a href="#wrap">
					<img
						src="../assets/images/admin/img_logo_login.png"
						alt="TAEJIN international"
					/>
				</a>
			</h1>
			<div class="loginBox">
				<div class="tit_box">
					<h2>ADMINISTRATOR</h2>
					<p class="tit_txt">태진인터내셔날 관리자 페이지입니다.</p>
				</div>
				<!-- //tit_box -->
				<div class="form_box">
					<h3 class="blind">로그인 정보 입력</h3>
					<form v-on:submit.prevent="submitForm">
						<ul class="form_table type03">
							<li>
								<p class="tit blind"><label for="userId">아이디</label></p>
								<div class="inner">
									<input
										type="text"
										name="userId"
										id="userId"
										class="input360"
										v-model="userId"
										placeholder="아이디를 입력하세요"
									/>
								</div>
							</li>
							<li>
								<p class="tit blind"><label for="userPass">비밀번호</label></p>
								<div class="inner">
									<input
										type="password"
										name="userPass"
										id="userPass"
										class="input360"
										v-model="password"
										placeholder="비밀번호를 입력하세요"
									/>
								</div>
							</li>
						</ul>
						<div class="btn_area">
							<button type="submit" class="htcbtnxLg">
								<span>로그인</span>
							</button>
						</div>
					</form>
				</div>
				<!-- //form_box -->
				<div class="certification">
					<p>
						로그인이 되지 않거나, 아이디와 비밀번호를 잊어버리셨을 경우에는
						관리자에게 문의하세요.
					</p>
				</div>
			</div>
			<!-- //login_area -->
		</section>
	</div>
</template>

<script>
import { loginUser } from '@/api/index';
export default {
	data() {
		return {
			userId: '',
			password: '',
		};
	},
	methods: {
		async submitForm() {
			try {
				const userData = {
					userId: this.userId,
					password: this.password,
				};
				const { data } = await loginUser(userData);
				if (data.loginYn == 'Y') {
					this.$store.commit('setToken', data.token.body.token);
					this.$store.commit('setIsLogin', data.loginYn);
					this.$router.push('/admin/content/brand');
				} else {
					alert('비밀번호를 확인해주세요');
				}
			} catch (error) {
				// console.log(error)
			}
		},
	},
};
</script>

<style>
.test {
	display: block;
}
</style>
