<template>
	<section>
		<form @submit.prevent="submitForm">
			<section>
				<!-- //tit_box -->
				<div class="form_box">
					<ul class="form_table">
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">노출여부</div>
								</div>
							</div>
							<div class="inner txt_box">
								<ul class="radioBox">
									<li>
										<input
											type="radio"
											id="aExhibition01"
											value="Y"
											v-model="visible"
											name="aExhibition"
										/><label for="aExhibition01">노출</label>
									</li>
									<li>
										<input
											type="radio"
											id="aExhibition02"
											value="N"
											v-model="visible"
											name="aExhibition"
										/><label for="aExhibition02">미노출</label>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="aSubject">모집부문</label>
									</div>
								</div>
							</div>
							<div class="inner">
								<input
									v-model="recruitTitle"
									type="text"
									name="recruitTitle"
									maxlength="255"
									class="input95"
									placeholder="모집부문을 입력하세요.(사용자 화면에서는 최대 3줄까지만 노출됩니다.)"
								/>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="jobsDate">모집기간</label>
									</div>
								</div>
							</div>
							<div class="inner">
								<date-picker v-model="time1" valueType="format"></date-picker>
								<!-- <input
									type="text"
									name="openingDate"
									id="startDate1"
									placeholder="0000-00-00"
									readonly=""
									class="hasDatepicker"
								/> -->
								<span class="span_hypen">-</span>
								<date-picker v-model="time2" valueType="format"></date-picker>

								<!-- <input
									type="text"
									name="closingDate"
									id="endDate1"
									placeholder="0000-00-00"
									readonly=""
									class="hasDatepicker"
								/> -->
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">채용사이트</div>
								</div>
							</div>
							<div class="inner txt_box">
								<ul class="radioBox">
									<input type="hidden" name="snsLinks" id="snsLinks" />

									<li>
										<input
											type="checkbox"
											name="recruitLink"
											class="codeId"
											value="rect002"
											id="jobsSite01"
											v-model="jobsValues[0]"
											true-value="Y"
											false-value="N"
										/><label for="jobsSite01">사람인</label>
									</li>

									<li>
										<input
											type="checkbox"
											name="recruitLink"
											class="codeId"
											value="rect003"
											v-model="jobsValues[1]"
											id="jobsSite02"
											true-value="Y"
											false-value="N"
										/><label for="jobsSite02">인크루트</label>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<!-- //form_box -->
			</section>
			<div class="btn_area type01">
				<button type="submit" class="htcbtnMd"><span>저장</span></button>
				<button class="htcbtnMd" @click="cancalBtn"><span>취소</span></button>
			</div>
		</form>

		<!-- <button @click="createAction">저장하기</button> -->
	</section>
</template>

<script>
import { fetchRecruit, editRecruit } from '@/api/index';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
export default {
	data() {
		return {
			recruitTitle: '',
			visible: 'N',
			time1: '',
			time2: '',
			jobsValues: [],
		};
	},
	components: { DatePicker },
	computed: {
		jobsJoin() {
			return this.jobsValues.join();
		},
	},
	methods: {
		async submitForm() {
			if (!this.recruitTitle || !this.timeCheck || !this.jobsValues) {
				const errorElemAll = document.querySelectorAll('.error-message');
				for (let i = 0; i < errorElemAll.length; i++) {
					errorElemAll[i].classList.add('is-active');
				}
				return false;
			}
			if (this.time1 > this.time2) {
				alert('종료날짜보다 시작날짜가 빠릅니다.');
				return false;
			}
			const idx = this.$route.params.idx;
			const recruitData = {
				recruitTitle: this.recruitTitle,
				time1: this.time1,
				time2: this.time2,
				visible: this.visible,
				jobsValues: this.jobsJoin,
			};
			const { data } = await editRecruit(idx, recruitData);

			if (data == 'Y') {
				this.$router.push('/admin/content/news');
			}
		},
		cancalBtn() {
			if (confirm('취소하시겠습니까') == true) {
				//뒤로가기
				this.$router.go(-1);
			} else {
				//취소
				return;
			}
		},
	},
	async created() {
		const idx = this.$route.params.idx;
		const { data } = await fetchRecruit(idx);
		this.recruitTitle = data.recruitInfo.recruit_title;
		this.visible = data.recruitInfo.visible;
		this.time1 = data.recruitInfo.openingDate;
		this.time2 = data.recruitInfo.closingDate;
		console.log(data.urlLinkList[0].visible);
		this.jobsValues[0] =
			data.urlLinkList[0].visible == null ? 'N' : data.urlLinkList[0].visible;
		this.jobsValues[1] =
			data.urlLinkList[1].visible == null ? 'N' : data.urlLinkList[1].visible;
	},
};
</script>

<style>
button.htcbtnMd + button.htcbtnMd {
	margin-left: 5px;
}
</style>
