@charset "utf-8";

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 * @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
 * @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('나눔 고딕'), local('Nanum Gothic'), url(../fonts/NanumGothic/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NanumGothic/NanumGothic-Regular.woff2) format('woff2'),
    url(../fonts/NanumGothic/NanumGothic-Regular.woff) format('woff'),
    url(../fonts/NanumGothic/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: '나눔 고딕';
  font-style: normal;
  font-weight: 400;
  src: local('나눔 고딕'), local('Nanum Gothic'), url(../fonts/NanumGothic/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NanumGothic/NanumGothic-Regular.woff2) format('woff2'),
    url(../fonts/NanumGothic/NanumGothic-Regular.woff) format('woff'),
    url(../fonts/NanumGothic/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NanumGothic/NanumGothic-Bold.woff2) format('woff2'),
    url(../fonts/NanumGothic/NanumGothic-Bold.woff) format('woff'),
    url(../fonts/NanumGothic/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic exBold';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NanumGothic/NanumGothic-ExtraBold.woff2) format('woff2'),
    url(../fonts/NanumGothic/NanumGothic-ExtraBold.woff) format('woff'),
    url(../fonts/NanumGothic/NanumGothic-ExtraBold.ttf) format('truetype');
}

