<template>
	<section>
		<form @submit.prevent="submitForm">
			<section>
				<!-- 브랜드 소개 -->
				<div class="tit_box type03">
					<h2>브랜드 소개</h2>
					<p class="tit_txt"><span class="necessary">*</span>필수입력사항</p>
				</div>
				<!-- //tit_box -->
				<div class="form_box">
					<ul class="form_table">
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="aSubject"
											>브랜드명 <span class="necessary">*</span></label
										>
									</div>
								</div>
							</div>
							<div class="inner">
								<input
									v-model="brandName"
									type="text"
									name="brandName"
									maxlength="255"
									class="input95"
									placeholder="제목을 입력하세요."
								/>
								<p class="error-message" v-show="!this.brandName">
									필수입력항목입니다.
								</p>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">분야 <span class="necessary">*</span></div>
								</div>
							</div>
							<div class="inner">
								<SelectBox
									v-model="categoryCd"
									:items="brandSelect.categoryList"
									:select_name="'categoryCd'"
									:select_value="'ct00'"
									:selectedValue="categoryCd"
									@input="
										value => {
											categoryCd = value;
										}
									"
								></SelectBox>
								<em class="txt"
									>※ 분야 관리에서 분야항목을 추가할 수 있습니다.</em
								>
								<p class="error-message" v-show="!this.categoryCd">
									필수입력항목입니다.
								</p>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										메뉴구분 <span class="necessary">*</span>
									</div>
								</div>
							</div>
							<div class="inner">
								<SelectBox
									v-model="menuCategoryCd"
									:items="brandSelect.menuList"
									:select_name="'menuCategoryCd'"
									:select_value="''"
									:selectedValue="menuCategoryCd"
									@input="
										value => {
											menuCategoryCd = value;
										}
									"
								></SelectBox>
								<input
									type="hidden"
									name="menuCategoryNm"
									id="menuCategoryNm"
								/>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="aComment"
											>브랜드 소개 <span class="necessary">*</span></label
										>
									</div>
								</div>
							</div>
							<div class="inner">
								<Editor
									@change="editorChange"
									initialEditType="wysiwyg"
									preview-style="tab"
									ref="toastuiEditor"
								/>
								<em class="txt">※ 이미지 삽입 권장 넓이 : 430px</em>
								<p class="error-message" v-show="!this.content">
									필수입력항목입니다.
								</p>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">노출여부</div>
								</div>
							</div>
							<div class="inner txt_box">
								<ul class="radioBox">
									<li>
										<input
											type="radio"
											id="aExhibition01"
											value="Y"
											v-model="visible"
											name="aExhibition"
										/><label for="aExhibition01">노출</label>
									</li>
									<li>
										<input
											type="radio"
											id="aExhibition02"
											value="N"
											v-model="visible"
											name="aExhibition"
										/><label for="aExhibition02">미노출</label>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<!-- //form_box -->
			</section>
			<section>
				<!-- 브랜드 이미지 링크관리 -->
				<div class="tit_box type02 type03">
					<h2>브랜드 이미지 &amp; 링크관리</h2>
					<p class="tit_txt"><span class="necessary">*</span>필수입력사항</p>
				</div>
				<!-- //tit_box -->
				<div class="form_box">
					<ul class="form_table">
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="repImage"
											>대표이미지 <span class="necessary">*</span></label
										>
									</div>
								</div>
							</div>
							<div class="inner txt_box">
								<div class="filebox">
									<input
										v-model="mainImage"
										type="text"
										class="upload_name"
										disabled="disabled"
									/>
									<label for="mainImage"><span>파일 선택</span></label>
									<input
										@change="mainImgChange"
										type="file"
										name="mainImage"
										id="mainImage"
										class="upload_hidden"
										accept="image/*"
									/>
									<!-- <div v-if="preview">
										<img :src="preview" />
									</div> -->
								</div>
								<em class="txt"
									>※ 1MB 이하의 이미지 파일만 등록이 가능합니다. (권장 크기 :
									454 x 292)</em
								>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="subImage01"
											>서브이미지<br />(최대 5개 등록 가능)
										</label>
									</div>
								</div>
							</div>
							<div class="inner txt_box">
								<div
									class="asideBox"
									v-for="(subImage, idx) in subImages"
									v-bind:key="idx"
								>
									<div class="filebox">
										<input
											type="text"
											v-model="subImages[idx]"
											class="upload_name"
											disabled="disabled"
										/>
										<label :for="`subImage${idx}`"
											><span>파일 선택</span></label
										>
										<input
											@change="subImgChange($event, idx)"
											type="file"
											:name="`subImage${idx}`"
											:id="`subImage${idx}`"
											class="upload_hidden"
											accept="image/*"
										/>
										<button
											v-if="subImages[idx] != '파일선택'"
											@click.prevent="imgDelate"
											type="button"
											class="htcbtnSm type01"
											:data-num="`${idx}`"
										>
											<span>삭제</span>
										</button>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">홈페이지 링크</div>
								</div>
							</div>
							<div class="inner">
								<div class="asideBox">
									<div class="checkBox">
										<input
											v-model="brandLinkVisible"
											type="checkbox"
											name="brandLinkVisible"
											id="linkExpress"
											checked="checked"
											value="Y"
										/><label for="linkExpress">노출여부</label>
									</div>
									<!-- //checkBox -->
									<input
										:disabled="brandLinkVisible === false"
										v-model="brandLink"
										type="text"
										name="brandLink"
										id="linkSite"
										class="input360"
										placeholder="사이트 URL을 입력하세요"
									/>
								</div>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">SNS 링크</div>
								</div>
							</div>
							<div class="inner">
								<input type="hidden" name="snsLinks" id="snsLinks" />

								<div
									class="asideBox"
									v-for="(sns, idx) in brandSelect.snsLinkList"
									v-bind:key="idx"
								>
									<div class="snsBox">
										<img :src="sns.newFilePath" :alt="sns.fileName" />
									</div>
									<div class="checkBox">
										<input type="hidden" value="lnkt007" class="codeId" />
										<input
											v-model="snsExpress[idx]"
											type="checkbox"
											name="snsExpress1"
											:id="sns.codeId"
											class="snsYn"
											true-value="Y"
											false-value="N"
										/><label :for="sns.codeId">노출여부</label>
									</div>
									<input
										v-model="snsUrl[idx]"
										type="text"
										name="snsUrl1"
										maxlength="255"
										id="snsUrl1"
										class="input360 snsUrl"
										placeholder="링크 URL을 입력하세요"
									/>
								</div>

								<em class="txt">※ SNS 관리에서 SNS을 추가할 수 있습니다.</em>
							</div>
						</li>
					</ul>
				</div>
				<!-- //form_box -->
			</section>
			<div class="btn_area type01">
				<a href="" class="htcbtnMd type01" @click.prevent="deleteBtn">
					<span>삭제</span>
				</a>
				<button type="submit" class="htcbtnMd"><span>저장</span></button>
				<button class="htcbtnMd" @click="cancalBtn"><span>취소</span></button>
			</div>
		</form>

		<!-- <button @click="createAction">저장하기</button> -->
	</section>
</template>

<script>
import 'codemirror/lib/codemirror.css';
import '@toast-ui/editor/dist/toastui-editor.css';
import SelectBox from '@/components/common/SelectBox';
import { Editor } from '@toast-ui/vue-editor';
import { fetchBrand, deleteBrand, editBrand } from '@/api/index';
export default {
	data() {
		return {
			brandName: '',
			content: '',
			categoryCd: '',
			menuCategoryCd: '',
			visible: 'N',
			mainImage: '',
			subImages: ['파일선택', '파일선택', '파일선택', '파일선택', '파일선택'],
			mainImageInfo: {},
			subImageInfo0: {},
			subImageInfo1: {},
			subImageInfo2: {},
			subImageInfo3: {},
			subImageInfo4: {},
			preview: '',
			brandLinkVisible: false,
			brandLink: '',
			snsExpress: [],
			snsUrl: [],
			snsList: [],
		};
	},
	components: { Editor, SelectBox },
	computed: {
		brandSelect() {
			return this.$store.state.selectBand;
		},
		snsListAll() {
			//2차원배열
			let snsArrOrigin = new Array();
			for (let i = 0; i < this.brandSelect.snsLinkList.length; i++) {
				for (let j = 0; j < 2; j++) {
					snsArrOrigin[i] = new Array();
					snsArrOrigin[i].push(this.brandSelect.snsLinkList[i].codeId);
					if (this.snsExpress[i] == undefined) {
						snsArrOrigin[i].push('N');
					} else {
						snsArrOrigin[i].push(this.snsExpress[i]);
					}
					if (this.snsUrl[i] == undefined) {
						snsArrOrigin[i].push('none');
					} else {
						snsArrOrigin[i].push(this.snsUrl[i]);
					}
				}
			}

			return snsArrOrigin;
		},
	},
	methods: {
		editorChange() {
			this.content = this.$refs.toastuiEditor.invoke('getMarkdown');
		},
		async submitForm() {
			if (
				!this.brandName ||
				!this.content ||
				!this.categoryCd ||
				!this.menuCategoryCd ||
				!this.mainImageValue
			) {
				const errorElemAll = document.querySelectorAll('.error-message');
				for (let i = 0; i < errorElemAll.length; i++) {
					errorElemAll[i].classList.add('is-active');
				}
				return false;
			}

			const idx = this.$route.params.idx;
			let snsArr = this.snsListAll.map(item => {
				return item + ';';
			});
			const brandData = new FormData();
			brandData.append('brandName', this.brandName);
			brandData.append('categoryCd', this.categoryCd);
			brandData.append('menuCategoryCd', this.menuCategoryCd);
			brandData.append('fileName', this.mainImageInfo);
			brandData.append('fileName', this.subImageInfo0);
			brandData.append('fileName', this.subImageInfo1);
			brandData.append('fileName', this.subImageInfo2);
			brandData.append('fileName', this.subImageInfo3);
			brandData.append('fileName', this.subImageInfo4);
			brandData.append('brandLinkVisible', this.brandLinkVisible);
			brandData.append('linkAddress', this.brandLink);
			brandData.append('snsListAll', snsArr);
			brandData.append('visible', this.visible);
			brandData.append(
				'brandDescription',
				this.$refs.toastuiEditor.invoke('getMarkdown'),
			);
			console.log(brandData);

			const { data } = await editBrand(idx, brandData);

			if (data == 'Y') {
				this.$router.push('/admin/content/brand');
			}
		},
		imgDelate(event) {
			const thisElem = event.currentTarget.parentElement;
			const thisInput = thisElem.querySelector('.upload_name');
			let num = event.currentTarget.getAttribute('data-num');
			this.$set(this.subImages, num, '파일선택');
			thisInput.value = '파일선택';
		},
		mainImgChange(e) {
			let file = e.target.files[0];
			this.mainImage = file.name;
			this.mainImageInfo = file;
			if (file && file.type.match(/^image\/(png|jpeg)$/)) {
				this.preview = window.URL.createObjectURL(file);
			}
		},
		subImgChange: function(e, num) {
			let file = e.target.files[0];
			switch (num) {
				case 0:
					this.$set(this.subImages, 0, file.name);
					this.subImageInfo0 = file;
					break;
				case 1:
					this.$set(this.subImages, 1, file.name);
					this.subImageInfo1 = file;
					break;
				case 2:
					this.$set(this.subImages, 2, file.name);
					this.subImageInfo2 = file;
					break;
				case 3:
					this.$set(this.subImages, 3, file.name);
					this.subImageInfo3 = file;
					break;
				case 4:
					this.$set(this.subImages, 4, file.name);
					this.subImageInfo4 = file;
					break;
			}
		},
		cancalBtn() {
			if (confirm('취소하시겠습니까') == true) {
				//뒤로가기
				this.$router.push('/admin/content/brand');
			} else {
				//취소
				return;
			}
		},
		async deleteBtn() {
			const idx = this.$route.params.idx;
			const { data } = await deleteBrand(idx);
			if (data == 'Y') {
				this.$router.push('/admin/content/brand');
			}
		},
	},
	async created() {
		const idx = this.$route.params.idx;
		const { data } = await fetchBrand(idx);
		this.brandName = data.brandInfo.brandName;
		this.categoryCd = data.brandInfo.categoryCd;
		this.menuCategoryCd = data.brandInfo.menuCategoryCd;
		this.visible = data.brandInfo.visible;
		this.mainImage = data.brandInfo.imageFileName;
		this.preview = data.brandInfo.preview;
		this.brandLinkVisible = data.brandInfo.brandLinkVisible;
		this.brandLink = data.brandInfo.linkAddress;
		this.content = data.brandInfo.brandDescription;
		this.$refs.toastuiEditor.invoke(
			'setMarkdown',
			data.brandInfo.brandDescription,
		);
		this.$store.dispatch('SELECT_BRAND');
		for (let i = 0; i < 5; i++) {
			this.snsExpress[i] = data.snsLinkList[i].visible;
			this.snsUrl[i] = data.snsLinkList[i].linkAddress;
		}
		for (let i = 0; i < data.imageList.length; i++) {
			this.subImages[i] = data.imageList[i].filename;
		}
		console.log(data);
	},
};
</script>

<style>
button.htcbtnMd + button.htcbtnMd {
	margin-left: 5px;
}
</style>
