<template>
	<section>
		<!-- <LoadingSpinner v-if="isLoading"></LoadingSpinner> -->
		<div class="searchBox type02">
			<form @submit.prevent>
				<h2 class="blind">검색하기</h2>
				<div class="inner">
					<!-- <div class="selectBox">
						<select v-model="selected">
							<option value="">분야 </option>
							<option value="ct001">LOUIS QUATORZE</option>
							<option value="ct002">STRIPES</option>
							<option value="ct003">PLATFORM-L</option>
							<option value="ct004">TRAVEL MATE</option>
							<option value="ct005">LX INVESTMENT</option>
						</select>
					</div> -->
					<input v-model="search" type="text" />
					<button type="submit" class="icoBtn_search" @click="onSubmitForm">
						<span class="blind">검색</span>
					</button>
				</div>
			</form>
		</div>
		<div class="list_box type01">
			<table class="bbs_list">
				<caption>
					브랜드 관리 목록 | 번호, 분야, 브랜드명, 작성자, 등록일, 노출여부로
					구성되어있습니다.
				</caption>
				<colgroup>
					<col style="width: 8%; user-select: auto;" />
					<col style="width: 15%; user-select: auto;" />
					<col style="width: 15%; user-select: auto;" />
					<col style="width: auto; user-select: auto;" />
					<col span="2" style="width: 10%; user-select: auto;" />
					<col style="width: 8%; user-select: auto;" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">번호</th>
						<th scope="row">분야</th>
						<th scope="row">메뉴구분</th>
						<th scope="row">브랜드명</th>
						<th scope="row">작성자</th>
						<th scope="row">등록일</th>
						<th scope="row">노출여부</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="searchState">
						<tr>
							<td colspan="7">
								<div class="search_none">
									<!-- 검색 결과가 없을 경우 출력 -->
									<p>
										검색 결과가 없습니다. 키워드를 확인하세요.
									</p>
								</div>
							</td>
						</tr>
					</template>
					<template v-else>
						<tr v-for="(brand, idx) in filteredList" v-bind:key="idx">
							<td>{{ brand.brandSeq }}</td>
							<td class="txt_left">{{ brand.categoryName }}</td>
							<td class="txt_left">{{ brand.menuCategoryNm }}</td>
							<td class="txt_left">
								<p class="ellipsis">
									<a href="" @click.self.prevent="BrandEdit(idx)">{{
										brand.brandName
									}}</a>
								</p>
							</td>
							<td>{{ brand.creatorNm }}</td>
							<td>{{ brand.updateTime }}</td>
							<td>{{ brand.visible }}</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
		<!-- //list_box -->

		<div class="btn_area type01">
			<router-link to="/admin/Regist/brand" class="htcbtnMd"
				><span>등록</span></router-link
			>
		</div>
		<template v-if="searchState"></template>
		<template v-else>
			<div class="btn-cover">
				<ul class="pagenation">
					<li>
						<button
							:disabled="pageNum === 1"
							@click="prevPage"
							class="page-btn"
						>
							이전
						</button>
					</li>
					<li v-for="(pageList, idx) in pageNumberList" :key="idx">
						<button
							@click="movePage"
							:class="{
								active: pageList + pageUnitNumber * pageUnit === pageNum,
							}"
						>
							{{ pageList + pageUnitNumber * pageUnit }}
						</button>
					</li>
					<li>
						<button
							:disabled="pageNum === listNum"
							@click="nextPage"
							class="page-btn"
						>
							다음
						</button>
					</li>
				</ul>
			</div>
		</template>
	</section>
</template>

<script>
// import LoadingSpinner from '@/components/LoadingSpinner.vue';
import { BrandList } from '@/api/index';
export default {
	// components: {
	// 	LoadingSpinner,
	// },
	data() {
		return {
			brands: [],
			search: '',
			selected: '',
			pageNum: 1, //보여질 페이지수
			pageSize: 5, //한페이지에 보여줄 리스트 수
			pageUnit: 3, // 페이징 번호 노출될 수
			pageUnitNumber: 0,
			searchResult: [],
			searchState: false,
			isLoading: false,
			listNum: 0,
			allItem: 0,
		};
	},
	computed: {
		filteredList() {
			// let selected = this.selected;
			// return selected;
			if (this.searchResult.length != 0) {
				return this.searchResult;
			} else {
				return this.brands;
			}
		},
		// pageCount() {
		// 	let listLeng = this.filteredList.length,
		// 		listSize = this.pageSize,
		// 		page = Math.floor(listLeng / listSize);
		// 	if (listLeng % listSize > 0) page += 1;
		// 	return page;
		// },
		//뿌려줄 데이터
		// paginatedData() {
		// 	const start = this.pageNum * this.pageSize,
		// 		end = start + this.pageSize;
		// 	return this.filteredList.slice(start, end);
		// },
		pageNumberList() {
			let visiblePage;
			let lastPage = this.listNum % this.pageUnit;
			let fullPage = parseInt(this.listNum / this.pageUnit);
			if (this.pageUnitNumber != fullPage) {
				visiblePage = this.pageUnit;
			} else {
				visiblePage = lastPage;
			}
			return visiblePage;
		},
	},
	methods: {
		async brandData() {
			try {
				const page = {
					searchKeyword: this.search,
					page: this.pageNum,
					size: this.pageSize,
				};
				this.isLoading = true;
				const { data } = await BrandList(page);
				this.isLoading = false;
				this.listNum = data.perPageListCnt;
				this.brands = data.brandInfoList;
				this.allItem = data.brandInfoListTotalCnt;
				console.log(data);
				if (this.allItem == '0') {
					this.searchState = true;
				} else {
					this.searchState = false;
				}
			} catch (error) {
				console.log(error);
			}
		},
		nextPage() {
			this.pageNum += 1;
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber += 1;
			}
			this.brandData();
		},
		prevPage() {
			//이전페이지는 pageNum이 변하기전에  먼저 값을 계산
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber -= 1;
			}
			this.pageNum -= 1;
			this.brandData();
		},
		movePage() {
			this.pageNum = Number(event.target.innerText);
			this.brandData();
		},
		onSubmitForm() {
			this.brandData();
			// console.log(this.brands.length);
			console.log(this.allItem);

			// let filterData = this.brands.filter(brands => {
			// 	return (
			// 		brands.categoryName.includes(this.search) &&
			// 		brands.categoryCd.includes(this.selected)
			// 	);
			// });
			// this.searchResult = filterData;
			// if (this.searchResult.length == 0) this.searchState = true;
		},
		BrandEdit: function(idx) {
			const seq = this.brands[idx].brandSeq;
			console.log(seq);
			this.$router.push(`/admin/edit/brand/${seq}`);
		},
	},
	created() {
		this.brandData();
	},
};
</script>

<style>
.pagenation {
	margin: 30px 0 0 0;
	text-align: center;
}
.pagenation li {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.pagenation li + li {
	margin-left: 5px;
}
.pagenation button.active {
	background-color: #808183;
	color: #fff;
}
.pagenation button {
	width: 100%;
	height: 100%;
}
</style>
