<template>
	<section>
		<form @submit.prevent="submitForm">
			<div class="form_box">
				<h2 class="blind">
					브랜드 분야 상세/수정 | 분야명, 사용여부로 구성되어 있습니다.
				</h2>
				<ul class="form_table">
					<li>
						<div class="tit_outer">
							<div class="tit_inner">
								<div class="tit">
									<label for="areaName">분야명</label>
								</div>
							</div>
						</div>
						<div class="inner">
							<input type="hidden" name="codeId" id="codeId" value="ct001" />
							<input
								v-model="codeName"
								type="text"
								name="areaName"
								id="areaName"
								class="input95"
								placeholder="분야명을 입력해주세요."
								maxlength="100"
								value=""
							/>
							<p class="error-message" v-show="!this.codeName">
								필수입력항목입니다.
							</p>
						</div>
					</li>
					<li>
						<div class="tit_outer">
							<div class="tit_inner">
								<div class="tit">사용여부</div>
							</div>
						</div>
						<div class="inner txt_box">
							<ul class="radioBox">
								<li>
									<input
										type="radio"
										name="areaUse"
										id="areaUse01"
										value="Y"
										v-model="visible"
										checked="checked"
									/><label for="areaUse01">사용</label>
								</li>
								<li>
									<input
										type="radio"
										name="areaUse"
										id="areaUse02"
										value="N"
										v-model="visible"
									/><label for="areaUse02">미사용</label>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<!-- //form_box -->
			<div class="btn_area type01">
				<button type="submit" class="htcbtnMd"><span>저장</span></button>
				<button class="htcbtnMd" @click="cancalBtn"><span>취소</span></button>
			</div>
		</form>
	</section>
</template>

<script>
import { fetchcategory, editcategory } from '@/api/index';
export default {
	data() {
		return {
			codeName: '',
			visible: 'N',
		};
	},
	methods: {
		async submitForm() {
			if (!this.codeName) {
				const errorElemAll = document.querySelectorAll('.error-message');
				for (let i = 0; i < errorElemAll.length; i++) {
					errorElemAll[i].classList.add('is-active');
				}
				return false;
			}
			const idx = this.$route.params.idx;
			const categoryData = {
				codeId: this.codeName,
				visible: this.visible,
			};
			const { data } = await editcategory(idx, categoryData);
			if (data == 'Y') {
				this.$router.push('/admin/content/category');
			}
		},
		cancalBtn() {
			if (confirm('취소하시겠습니까') == true) {
				//뒤로가기
				this.$router.push('/admin/content/category');
			} else {
				//취소
				return;
			}
		},
	},
	async created() {
		const idx = this.$route.params.idx;
		const { data } = await fetchcategory(idx);
		console.log(data);
		this.codeName = data.categoryInfo.codeName;
		this.visible = data.categoryInfo.visible;
	},
};
</script>

<style></style>
