<template>
	<section>
		<form @submit.prevent="submitForm">
			<div class="form_box">
				<h2 class="blind">
					브랜드 분야 상세/수정 | 분야명, 사용여부로 구성되어 있습니다.
				</h2>
				<ul class="form_table">
					<li>
						<div class="tit_outer">
							<div class="tit_inner">
								<div class="tit">
									<label for="areaName">분야명</label>
								</div>
							</div>
						</div>
						<div class="inner">
							<input type="hidden" name="codeId" id="codeId" value="ct001" />
							<input
								v-model="codeTitle"
								type="text"
								name="areaName"
								id="areaName"
								class="input95"
								placeholder="분야명을 입력해주세요."
								maxlength="100"
								value=""
							/>
						</div>
					</li>
					<li>
						<div class="tit_outer">
							<div class="tit_inner">
								<div class="tit">
									<label for="aThumbImg">이미지</label>
								</div>
							</div>
						</div>
						<div class="inner txt_box">
							<div class="filebox">
								<input
									v-model="fileTitle"
									type="text"
									class="upload_name"
									disabled="disabled"
								/>
								<label for="aConFile"><span>파일 선택</span></label>
								<input
									@change="mainImgChange"
									type="file"
									name="aThumbImg"
									id="aConFile"
									class="upload_hidden"
									accept="image/*"
								/>
								<button
									@click.prevent="imgDelate"
									type="button"
									id="fileDeleteBtn"
									class="htcbtnSm type01"
								>
									<span>삭제</span>
								</button>
							</div>
							<em class="txt"
								>※ 1MB 이하의 이미지 파일만 등록이 가능합니다. (권장 크기 :
								292px X 192px)</em
							>
						</div>
					</li>
				</ul>
			</div>
			<!-- //form_box -->
			<div class="btn_area type01">
				<button type="submit" class="htcbtnMd"><span>저장</span></button>
				<button class="htcbtnMd" @click="cancalBtn"><span>취소</span></button>
			</div>
		</form>
	</section>
</template>

<script>
import { fetchsns, editSns } from '@/api/index';
export default {
	data() {
		return {
			codeTitle: '',
			fileTitle: '',
			fileInfo: '',
		};
	},
	methods: {
		async submitForm() {
			const idx = this.$route.params.idx;
			console.log(idx);
			const snsData = new FormData();
			snsData.append('fileName', this.fileInfo);
			snsData.append('codeName', this.codeTitle);
			const { data } = await editSns(idx, snsData);
			if (data == 'Y') {
				this.$router.push('/admin/content/sns');
			}
		},
		mainImgChange(e) {
			let file = e.target.files[0];
			console.log(file);
			this.fileTitle = file.name;
			this.fileInfo = file;
			if (file && file.type.match(/^image\/(png|jpeg)$/)) {
				this.preview = window.URL.createObjectURL(file);
			}
		},
		imgDelate(event) {
			const thisElem = event.currentTarget.parentElement;
			console.log(thisElem);
			const thisInput = thisElem.querySelector('.upload_name');
			// this.$set(this.subImages, '파일선택');
			thisInput.value = '파일선택';
		},
		cancalBtn() {
			if (confirm('취소하시겠습니까') == true) {
				//뒤로가기
				this.$router.push('/admin/content/category');
			} else {
				//취소
				return;
			}
		},
	},
	async created() {
		const idx = this.$route.params.idx;
		console.log(idx);
		const { data } = await fetchsns(idx);
		console.log(data);
		this.codeTitle = data.categoryInfo.codeName;
		this.fileTitle = data.categoryInfo.fileName;
	},
};
</script>

<style></style>
