<template>
	<section>
		<div class="list_box type01">
			<table class="bbs_list">
				<caption>
					브랜드 관리 목록 | 번호, 분야, 브랜드명, 작성자, 등록일, 노출여부로
					구성되어있습니다.
				</caption>
				<colgroup>
					<col style="width: 10%;" />
					<col style="width: auto;" />
					<col span="2" style="width: 10%;" />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">번호</th>
						<th scope="row">SNS</th>
						<th scope="row">작성자</th>
						<th scope="row">등록일</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(brand, idx) in tableList" v-bind:key="idx">
						<td>{{ brand.sortOrder }}</td>
						<td class="txt_left">
							<p class="ellipsis">
								<a href="" @click.self.prevent="categoryEdit(idx)">{{
									brand.codeName
								}}</a>
							</p>
						</td>
						<td>{{ brand.creatorName }}</td>
						<td>{{ brand.updateTime }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- //list_box -->

		<div class="btn_area type01">
			<router-link to="/admin/Regist/sns" class="htcbtnMd"
				><span>등록</span></router-link
			>
		</div>
		<div class="btn-cover">
			<ul class="pagenation">
				<li>
					<button :disabled="pageNum === 1" @click="prevPage" class="page-btn">
						이전
					</button>
				</li>
				<li v-for="(pageList, idx) in pageNumberList" :key="idx">
					<button
						@click="movePage"
						:class="{
							active: pageList + pageUnitNumber * pageUnit === pageNum,
						}"
					>
						{{ pageList + pageUnitNumber * pageUnit }}
					</button>
				</li>
				<li>
					<button
						:disabled="pageNum === listNum"
						@click="nextPage"
						class="page-btn"
					>
						다음
					</button>
				</li>
			</ul>
		</div>
	</section>
</template>

<script>
import { SnsList } from '@/api/index';
export default {
	data() {
		return {
			category: [],
			search: '',
			selected: '',
			pageNum: 1, //보여질 페이지수
			pageSize: 5, //한페이지에 보여줄 리스트 수
			pageUnit: 10, // 페이징 번호 노출될 수
			pageUnitNumber: 0,
			tableList: [],
			listNum: 0,
			allItem: 0,
		};
	},
	computed: {
		pageNumberList() {
			let visiblePage;
			let lastPage = this.listNum % this.pageUnit;
			let fullPage = parseInt(this.listNum / this.pageUnit);
			if (this.pageUnitNumber != fullPage) {
				visiblePage = this.pageUnit;
			} else {
				visiblePage = lastPage;
			}
			return visiblePage;
		},
	},
	methods: {
		async snsData() {
			try {
				const page = {
					searchKeyword: this.search,
					page: this.pageNum,
					size: this.pageSize,
				};
				const { data } = await SnsList(page);
				console.log(data);
				this.listNum = data.perPageListCnt;
				this.category = data.brandInfoList;
				this.allItem = data.brandInfoListTotalCnt;
				this.tableList = data.snsList;
				if (this.allItem == '0') {
					this.searchState = true;
				} else {
					this.searchState = false;
				}
			} catch (error) {
				console.log(error);
			}
		},
		nextPage() {
			this.pageNum += 1;
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber += 1;
			}
			this.snsData();
		},
		prevPage() {
			//이전페이지는 pageNum이 변하기전에  먼저 값을 계산
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber -= 1;
			}
			this.pageNum -= 1;
			this.snsData();
		},
		movePage() {
			this.pageNum = Number(event.target.innerText);
			this.snsData();
		},
		onSubmitForm() {
			this.snsData();
		},
		categoryEdit: function(idx) {
			const seq = this.tableList[idx].codeId;
			this.$router.push(`/admin/edit/sns/${seq}`);
		},
	},
	created() {
		this.snsData();
	},
};
</script>

<style>
.pagenation {
	margin: 30px 0 0 0;
	text-align: center;
}
.pagenation li {
	display: inline-block;
	width: 40px;
	height: 40px;
}
.pagenation li + li {
	margin-left: 5px;
}
.pagenation button.active {
	background-color: #808183;
	color: #fff;
}
.pagenation button {
	width: 100%;
	height: 100%;
}
</style>
