<template>
	<section>
		<form @submit.prevent="submitForm">
			<section>
				<div class="form_box">
					<h2 class="blind">
						브랜드 SNS 상세/수정 | SNS명, 이미지로 구성되어 있습니다.
					</h2>
					<ul class="form_table">
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="snsName">SNS명</label>
									</div>
								</div>
							</div>
							<div class="inner">
								<input
									type="text"
									v-model="codeName"
									name="codeName"
									maxlength="100"
									id="snsName"
									class="input95"
									placeholder="SNS명을 입력하세요."
								/>
								<p class="error-message" v-show="!this.codeName">
									필수입력항목입니다.
								</p>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="snsImage">이미지</label>
									</div>
								</div>
							</div>
							<div class="inner txt_box">
								<div class="filebox">
									<input
										v-model="snsImage"
										type="text"
										class="upload_name"
										value="파일선택"
										disabled="disabled"
									/>
									<label for="snsImage"><span>파일 선택</span></label>
									<input
										@change="snsImgChange"
										type="file"
										name="snsImage"
										id="snsImage"
										class="upload_hidden"
									/>
									<!-- <button type="button" class="htcbtnSm type01"><span>삭제</span></button> -->
								</div>
								<em class="txt"
									>※ 1MB 이하의 이미지 파일만 등록이 가능합니다. (권장 가로 크기
									: 30px 이하)</em
								>
								<p class="error-message" v-show="!this.snsImageValue">
									필수입력항목입니다.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<div class="btn_area type01">
				<button type="submit" class="htcbtnMd"><span>등록</span></button>
				<button class="htcbtnMd" @click="cancalBtn"><span>취소</span></button>
			</div>
		</form>
	</section>
</template>

<script>
import { createSns } from '@/api/index';
export default {
	data() {
		return {
			codeName: '',
			snsImage: '파일선택',
			snsImageInfo: '',
			snsImageValue: null,
		};
	},
	methods: {
		cancalBtn() {
			if (confirm('취소하시겠습니까') == true) {
				//뒤로가기
				this.$router.go(-1);
			} else {
				//취소
				return;
			}
		},
		snsImgChange(e) {
			let file = e.target.files[0];
			this.snsImage = file.name;
			this.snsImageInfo = file;
			this.snsImageValue = true;
		},
		async submitForm() {
			if (!this.codeName) {
				const errorElemAll = document.querySelectorAll('.error-message');
				for (let i = 0; i < errorElemAll.length; i++) {
					errorElemAll[i].classList.add('is-active');
				}
				return false;
			}
			const snsData = new FormData();
			snsData.append('codeName', this.codeName);
			snsData.append('fileName', this.snsImageInfo);
			const { data } = await createSns(snsData);
			if (data == 'Y') {
				this.$router.push('/admin/content/sns');
			}
		},
	},
};
</script>

<style></style>
