<template>
	<div class="content_header type01">
		<h1>{{ title }}</h1>
		<p class="tit_txt">{{ dec }}</p>
		<div class="page_location">
			<strong class="blind">현재위치</strong>
			<span class="home"><a href="#wrap">HOME</a></span>
			<span
				><a href="#wrap">{{ depth2 }}</a></span
			>
			<span>{{ depth3 }}</span>
		</div>
		<!-- //page_location -->
	</div>
	<!-- //content_header -->
</template>

<script>
export default {
	props: ['title', 'dec', 'depth2', 'depth3'],
};
</script>

<style></style>
