<template>
	<footer>
		<div id="footer_admin">
			<div class="footer_inner_admin">
				<p class="copyright">
					COPYRIGHT&copy; <span id="adminFooter_year_span"></span>.
					<em>TAEJIN INT.</em> ALL RIGHTS RESERVED.
				</p>
			</div>
		</div>
	</footer>
</template>

<script>
export default {};
</script>

<style></style>
