<template>
	<header>
		<div id="header_admin">
			<h1>
				<img
					src="@/assets/images/admin/img_logo_top.png"
					alt="TAEJIN international"
				/>
			</h1>
			<!-- header_inner -->
			<div class="header_inner_admin">
				<div id="localMenuBoxAdmin" class="localMenuBoxAdmin">
					<!-- localMenuBox -->
					<h2 class="blind">메인메뉴</h2>
					<ul id="localMenu" class="localMenu">
						<li
							:class="{
								on:
									selected === 'brand' ||
									selected === 'category' ||
									selected === 'sns',
							}"
						>
							<router-link to="/admin/content/brand">BUSINESS 관리</router-link>
							<div class="localMenuSubAdmin gnbs01">
								<h3 class="blind">BUSINESS 메뉴 목록</h3>
								<ul>
									<li :class="{ on: selected === 'brand' }">
										<router-link to="/admin/content/brand" class="depth2"
											>브랜드 관리</router-link
										>
									</li>
									<li :class="{ on: selected === 'category' }">
										<router-link to="/admin/content/category" class="depth2"
											>분야 관리</router-link
										>
									</li>
									<li :class="{ on: selected === 'sns' }">
										<router-link to="/admin/content/sns" class="depth2"
											>SNS 관리</router-link
										>
									</li>
								</ul>
							</div>
						</li>
						<!-- <li><a href="/ir/noticeMgmtList.do">공지사항 관리</a></li> -->
						<li :class="{ on: selected === 'news' }">
							<router-link to="/admin/content/news" class="depth2"
								>NEWS 관리</router-link
							>
						</li>
						<li :class="{ on: selected === 'recruit' }">
							<router-link to="/admin/content/recruit" class="depth2"
								>채용공고 관리</router-link
							>
						</li>
					</ul>
					<div class="btn_area">
						<button class="htcbtnSm type_log" @click="logOutBtn">
							<span>로그아웃</span>
						</button>
					</div>
				</div>
			</div>
			<!-- //header_inner -->
		</div>
	</header>
</template>

<script>
// import { deleteCookie } from '@/utils/cookies';

export default {
	created() {
		this.fetchData();
	},
	computed: {
		isLoginUser() {
			return this.$store.getters.isLogin;
		},
	},
	watch: {
		$route: 'fetchData',
	},
	methods: {
		fetchData() {
			const page = this.$route.params.page;
			this.selected = page;
		},
		logOutBtn() {
			this.$store.commit('clearIsLogin');
			this.$store.commit('clearToken');
			// deleteCookie('til_auth');
			// deleteCookie('til_user');
			this.$router.push('/admin/login');
		},
	},
	data() {
		return {
			selected: '',
		};
	},
};
</script>
<style></style>
