<template>
	<div id="wrap_admin">
		<router-view></router-view>
		<Footer></Footer>
	</div>
</template>

<script>
import Footer from '@/components/common/Footer';
export default {
	components: {
		Footer,
	},
};
</script>

<style></style>
