<template>
	<select
		v-bind:name="select_name"
		v-on:input="updateValue($event.target.value)"
	>
		<template v-if="select_name === 'categoryCd'">
			<option value="">선택하세요</option>
			<option
				v-for="(item, index) in items"
				:value="select_value + (index + 1)"
				:key="index"
				:selected="selectedValue === select_value + (index + 1)"
				>{{ item.codeName }}</option
			>
		</template>
		<template v-else>
			<option value="">선택하세요</option>
			<option
				v-for="(item, index) in items"
				:value="select_value + index"
				:key="index"
				:selected="selectedValue === select_value + index"
				>{{ item.codeName }}</option
			>
		</template>
	</select>
</template>

<script>
export default {
	name: 'selectBox',
	data() {
		return {
			//
		};
	},
	props: ['value', 'items', 'select_name', 'select_value', 'selectedValue'],
	methods: {
		updateValue: function(value) {
			this.$emit('input', value);
		},
	},
};
</script>

<style></style>
