<template>
	<section>
		<form @submit.prevent="submitForm">
			<section>
				<!-- //tit_box -->
				<div class="form_box">
					<ul class="form_table">
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="aSubject">제목</label>
									</div>
								</div>
							</div>
							<div class="inner">
								<input
									v-model="newsTitle"
									type="text"
									name="newsTitle"
									maxlength="255"
									class="input95"
									placeholder="제목을 입력하세요."
								/>
								<p class="error-message" v-show="!this.newsTitle">
									필수입력항목입니다.
								</p>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="aComment">내용</label>
									</div>
								</div>
							</div>
							<div class="inner">
								<Editor
									@change="editorChange"
									initialEditType="wysiwyg"
									preview-style="tab"
									ref="toastuiEditor"
								/>
								<p class="error-message" v-show="!content">
									필수입력항목입니다.
								</p>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">
										<label for="repImage">목록이미지</label>
									</div>
								</div>
							</div>
							<div class="inner txt_box">
								<div class="filebox">
									<input
										v-model="fileTitle"
										type="text"
										class="upload_name"
										disabled="disabled"
									/>
									<label for="aThumbImg"><span>파일 선택</span></label>
									<input
										@change="mainImgChange"
										type="file"
										name="aThumbImg"
										id="aThumbImg"
										class="upload_hidden"
										accept="image/*"
									/>
								</div>
								<em class="txt"
									>※ 1MB 이하의 이미지 파일만 등록이 가능합니다. (권장 크기 :
									292px X 192px)
								</em>
							</div>
						</li>
						<li>
							<div class="tit_outer">
								<div class="tit_inner">
									<div class="tit">노출여부</div>
								</div>
							</div>
							<div class="inner txt_box">
								<ul class="radioBox">
									<li>
										<input
											type="radio"
											id="aExhibition01"
											value="Y"
											v-model="visible"
											name="aExhibition"
										/><label for="aExhibition01">노출</label>
									</li>
									<li>
										<input
											type="radio"
											id="aExhibition02"
											value="N"
											v-model="visible"
											name="aExhibition"
										/><label for="aExhibition02">미노출</label>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<!-- //form_box -->
			</section>
			<div class="btn_area type01">
				<button type="submit" class="htcbtnMd"><span>등록</span></button>
				<button class="htcbtnMd" @click="cancalBtn"><span>취소</span></button>
			</div>
		</form>
	</section>
</template>

<script>
import 'codemirror/lib/codemirror.css';
import '@toast-ui/editor/dist/toastui-editor.css';
import { Editor } from '@toast-ui/vue-editor';
import { createdNews } from '@/api/index';
export default {
	data() {
		return {
			newsTitle: '',
			visible: 'N',
			fileTitle: '파일선택',
			content: '',
			preview: '',
			fileInfo: {},
		};
	},
	components: { Editor },
	methods: {
		async submitForm() {
			if (!this.newsTitle || !this.content) {
				const errorElemAll = document.querySelectorAll('.error-message');
				for (let i = 0; i < errorElemAll.length; i++) {
					errorElemAll[i].classList.add('is-active');
				}
				return false;
			}
			const newsData = new FormData();
			newsData.append('newsTitle', this.newsTitle);
			newsData.append('fileName', this.fileInfo);
			newsData.append('visible', this.visible);
			newsData.append(
				'newsDescription',
				this.$refs.toastuiEditor.invoke('getMarkdown'),
			);
			const { data } = await createdNews(newsData);
			if (data == 'Y') {
				this.$router.push('/admin/content/news');
			}
		},
		editorChange() {
			this.content = this.$refs.toastuiEditor.invoke('getMarkdown');
		},
		mainImgChange(e) {
			let file = e.target.files[0];
			this.fileTitle = file.name;
			this.fileInfo = file;
			if (file && file.type.match(/^image\/(png|jpeg)$/)) {
				this.preview = window.URL.createObjectURL(file);
			}
		},
		cancalBtn() {
			if (confirm('취소하시겠습니까') == true) {
				//뒤로가기
				this.$router.go(-1);
			} else {
				//취소
				return;
			}
		},
	},
};
</script>

<style></style>
