<template>
	<!-- vuex 방식 -->
	<section>
		<!-- <LoadingSpinner v-if="isLoading"></LoadingSpinner> -->
		<div class="searchBox type02">
			<form @submit.prevent>
				<h2 class="blind">검색하기</h2>
				<div class="inner">
					<!-- <div class="selectBox">
						<select v-model="selected">
							<option value="">분야 </option>
							<option value="ct001">LOUIS QUATORZE</option>
							<option value="ct002">STRIPES</option>
							<option value="ct003">PLATFORM-L</option>
							<option value="ct004">TRAVEL MATE</option>
							<option value="ct005">LX INVESTMENT</option>
						</select>
					</div> -->
					<!-- <input v-model="search" type="text" />
					<button type="submit" class="icoBtn_search" @click="onSubmitForm">
						<span class="blind">검색</span>
					</button> -->
				</div>
			</form>
		</div>
		<div class="list_box type01">
			<table class="bbs_list">
				<caption>
					공지사항 목록 | 번호, 제목, 작성자, 등록일, 노출여부로
					구성되어있습니다.
				</caption>
				<colgroup>
					<col style="width: 10%; " />
					<col style="width: auto; " />
					<col span="3" style="width: 10%; " />
				</colgroup>
				<thead>
					<tr>
						<th scope="row">번호</th>
						<th scope="row">제목</th>
						<th scope="row">작성자</th>
						<th scope="row">등록일</th>
						<th scope="row">노출여부</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="searchState">
						<tr>
							<td colspan="5">
								<div class="search_none">
									<!-- 검색 결과가 없을 경우 출력 -->
									<p>
										검색 결과가 없습니다. 키워드를 확인하세요.
									</p>
								</div>
							</td>
						</tr>
					</template>
					<template v-else>
						<tr v-for="(news, idx) in filteredList" v-bind:key="idx">
							<td>{{ news.news_seq }}</td>
							<td class="txt_left">
								<p class="ellipsis">
									<a href="" @click.self.prevent="NewsEdit(idx)">{{
										news.news_title
									}}</a>
								</p>
							</td>
							<td>{{ news.updaterNm }}</td>
							<td>{{ news.update_time }}</td>
							<td>{{ news.visible }}</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
		<!-- //list_box -->

		<div class="btn_area type01">
			<router-link to="/admin/Regist/news" class="htcbtnMd"
				><span>등록</span></router-link
			>
		</div>
		<Pagenation
			:searchState="searchState"
			:pageNum="pageNum"
			:pageNumberList="pageNumberList"
			:pageUnitNumber="pageUnitNumber"
			:pageUnit="pageUnit"
			:perPageListCnt="this.newsInfo.perPageListCnt"
			@movePage="movePage"
			@prevPage="prevPage"
			@nextPage="nextPage"
		></Pagenation>
	</section>
</template>

<script>
import Pagenation from '@/components/common/Pagenation.vue';

export default {
	data() {
		return {
			news: [],
			search: '',
			selected: '',
			pageNum: 1, //보여질 페이지수
			pageSize: 6, //한페이지에 보여줄 리스트 수
			pageUnit: 10, // 페이징 번호 노출될 수
			pageUnitNumber: 0,
			searchResult: [],
			searchState: false,
		};
	},
	components: {
		Pagenation,
	},
	computed: {
		newsInfo() {
			return this.$store.state.news;
		},
		filteredList() {
			if (this.searchResult.length != 0) {
				return this.searchResult;
			} else {
				return this.newsInfo.newsInfoList;
			}
		},
		pageNumberList() {
			let visiblePage;
			let lastPage = this.newsInfo.perPageListCnt % this.pageUnit;
			let fullPage = parseInt(this.newsInfo.perPageListCnt / this.pageUnit);
			if (this.pageUnitNumber != fullPage) {
				visiblePage = this.pageUnit;
			} else {
				visiblePage = lastPage;
			}
			return visiblePage;
		},
	},
	methods: {
		newsData() {
			const page = {
				searchKeyword: this.search,
				page: this.pageNum,
				size: this.pageSize,
			};
			this.$store.dispatch('LIST_NEWS', page);
			if (this.newsInfo.newsInfoListTotalCnt == '0') {
				this.searchState = true;
			} else {
				this.searchState = false;
			}
		},
		onSubmitForm() {
			// console.log(this.news.length);
			// let filterData = this.news.filter(news => {
			// 	return (
			// 		news.categoryName.includes(this.search) &&
			// 		news.categoryCd.includes(this.selected)
			// 	);
			// });
			// this.searchResult = filterData;
			// if (this.searchResult.length == 0) this.searchState = true;
		},
		NewsEdit: function(idx) {
			const seq = this.newsInfo.newsInfoList[idx].news_seq;
			this.$router.push(`/admin/edit/news/${seq}`);
		},
		movePage() {
			// alert(1);
			this.pageNum = Number(event.target.innerText);
			this.newsData();
		},
		nextPage() {
			this.pageNum += 1;
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber += 1;
			}
			this.newsData();
		},
		prevPage() {
			//이전페이지는 pageNum이 변하기전에  먼저 값을 계산
			if ((this.pageNum - 1) % this.pageUnit == 0) {
				this.pageUnitNumber -= 1;
			}
			this.pageNum -= 1;
			this.newsData();
		},
	},
	created() {
		console.log('created');
		this.newsData();
	},
};
</script>

<style></style>
